workflow__do_projeto.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Abertura de Tickets Suporte",
        "formDescription": "Preencha os campos abaixo para enviar uma solicitação, nossa equipe responderá em breve.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome:",
              "fieldName": "Nome:",
              "placeholder": "João Martins",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail:",
              "fieldType": "email",
              "fieldName": "Email:",
              "requiredField": true
            },
            {
              "fieldLabel": "Empresa:",
              "fieldName": "Empresa:",
              "placeholder": "Orizon",
              "requiredField": true
            },
            {
              "fieldLabel": "Assunto:",
              "fieldName": "Assunto:",
              "requiredField": true
            },
            {
              "fieldLabel": "Descreva o problema que você está enfrentando:",
              "fieldType": "textarea",
              "fieldName": "Mensagem:",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Seu Ticket foi Enviado com Sucesso!"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1504,
        -176
      ],
      "id": "32647584-a4b2-4fbf-a394-0302c5a422ba",
      "name": "NovoTicket"
    },
    {
      "parameters": {
        "text": "={{ $json['Mensagem:'] }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7,
              "customizePrompt": true
            }
          },
          "topicalAlignment": {
            "value": {
              "threshold": 0.7,
              "prompt": "Analise se a solicitação está dentro do escopo de abertura de tickets.\n\nRetorne obrigatoriamente APENAS um JSON válido.\nNão use markdown.\nNão use ```json.\nNão escreva explicações antes ou depois.\n\nFormato obrigatório:\n{\n  \"flagged\": false,\n  \"confidenceScore\": 0.95\n}\n\nRegras:\n- Use \"flagged\": false quando estiver dentro do escopo.\n- Use \"flagged\": true quando estiver fora do escopo.\n- confidenceScore deve ser um número entre 0 e 1.\n- Nunca retorne os campos \"status\" ou \"motivo\".\n- Nunca retorne texto fora do JSON."
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -1344,
        -176
      ],
      "id": "4f3be66a-c67d-4075-96a3-6d63f8d1fbc9",
      "name": "Verificação"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1344,
        48
      ],
      "id": "cbb485ee-36ef-47e1-857b-ad4e03bfce9c",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        0
      ],
      "id": "bdc4b98b-c6a6-4d25-a3a8-1c781778007c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -912,
        48
      ],
      "id": "cca7c1fd-5ed7-4d9b-840d-f725f99f0b49",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"categoria\": \"bug\",\n  \"prioridade\": \"alta\",\n  \"equipe\": \"engenharia\",\n  \"resumo\": \"Câmera não conecta no Nvidia Broadcast\",\n  \"impacto\": \"Cliente sem conseguir usar câmera\",\n  \"tem_solucao\": true,\n  \"resposta_cliente_html\": \"<p>Olá Henrique,</p><p>Identifiquei que sua câmera não está conectando...</p><ol><li>Atualize o driver da câmera</li><li>Teste em outro aplicativo</li></ol>\",\n  \"cliente_existente\": true,\n  \"plano_cliente\": \"Enterprise\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -592,
        32
      ],
      "id": "4edc23e9-1c02-4b30-8850-3ba15e0855f8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "id": "7JPemZog",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -1296,
        -352
      ],
      "id": "ffd84fec-55e0-418a-a036-3e2275dd61ee",
      "name": "BuscarListas"
    },
    {
      "parameters": {
        "listId": "6a178deeedd804dc93470721",
        "name": "={{ $json.output.resumo }}",
        "description": "=Cliente:{{ $('NovoTicket').item.json['Nome:'] }}\nPlano: {{ $json.output.plano_cliente }}\n\nCategoria:{{ $json.output.categoria }}\nEquipe:{{ $json.output.equipe }}\nImpacto:{{ $json.output.impacto }}\n\n ",
        "additionalFields": {
          "idLabels": "={{ $json.output.prioridade === 'crítica' ?\n'6a178dda20e9fbaa446ac35a' :  $json.output.prioridade === 'alta' ? '6a178dda20e9fbaa446ac359' : $json.output.prioridade === 'média' ? '6a178dda20e9fbaa446ac358' : '6a178dda20e9fbaa446ac357'\n\n\n}}"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -704,
        -192
      ],
      "id": "82768f5c-195a-4ffb-a550-e1335b4ccfad",
      "name": "Create a card"
    },
    {
      "parameters": {
        "resource": "label",
        "boardId": {
          "__rl": true,
          "value": "7JPemZog",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -1504,
        -352
      ],
      "id": "a7cde934-4603-4135-82dd-b739e4015f45",
      "name": "BuscarEtiquetas"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1subaQu2zUmBxkoK9ddBBef7Bf9Xj7FTIzczngl5WDoo/edit?gid=1305533810#gid=1305533810",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1305533810,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1subaQu2zUmBxkoK9ddBBef7Bf9Xj7FTIzczngl5WDoo/edit#gid=1305533810"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('NovoTicket').item.json['Email:'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -768,
        16
      ],
      "id": "b63942ec-da1d-4d5d-9948-a73a4d6cd29b",
      "name": "Get row(s) in sheet in Google Sheets"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "mgcosta.mgc@gmail.com",
        "subject": "=[Aprovação Necessária] - Ticket {{ $('AI Agente').item.json.output.prioridade .toUpperCase()}} - {{ $('AI Agente').item.json.output.resumo }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; color: #1f2937; line-height: 1.5; max-width: 720px;\">\n\n  <h2 style=\"margin-bottom: 8px; color: #111827;\">\n    Aprovação de resposta da IA\n  </h2>\n\n  <p style=\"margin-top: 0; color: #4b5563;\">\n    Um novo ticket foi analisado pela inteligência artificial e precisa de aprovação antes do envio ao cliente.\n  </p>\n\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n\n  <h3 style=\"color: #111827; margin-bottom: 10px;\">\n    Dados do cliente\n  </h3>\n\n  <p>\n    <b>Nome:</b> {{ $('NovoTicket').item.json['Nome:'] }}<br>\n    <b>Email:</b> {{ $('NovoTicket').item.json['Email:'] }}<br>\n    <b>Empresa:</b> {{ $('NovoTicket').item.json['Empresa:'] }}<br>\n    <b>Plano:</b> {{ $('AI Agente').item.json.output.plano_cliente }}\n  </p>\n\n  <h3 style=\"color: #111827; margin-bottom: 10px;\">\n    Detalhes do ticket\n  </h3>\n\n  <p>\n    <b>Assunto:</b> {{ $('NovoTicket').item.json['Assunto:'] }}<br>\n    <b>Categoria:</b> {{ $('AI Agente').item.json.output.categoria }}<br>\n    <b>Prioridade:</b> {{ $('AI Agente').item.json.output.prioridade }}<br>\n    <b>Equipe responsável:</b> {{ $('AI Agente').item.json.output.equipe }}\n  </p>\n\n  <p>\n    <b>Impacto identificado:</b><br>\n    {{ $('AI Agente').item.json.output.impacto }}\n  </p>\n\n  <p>\n    <b>Resumo gerado pela IA:</b><br>\n    {{ $('AI Agente').item.json.output.resumo }}\n  </p>\n\n  <div style=\"background: #f9fafb; border: 1px solid #e5e7eb; border-radius: 8px; padding: 16px; margin: 20px 0;\">\n\n    <h3 style=\"margin-top: 0; color: #111827;\">\n      Mensagem original do cliente\n    </h3>\n\n    <p style=\"margin-bottom: 0;\">\n      {{ $('NovoTicket').item.json['Mensagem:'] }}\n    </p>\n\n  </div>\n\n  <div style=\"background: #ecfdf5; border: 1px solid #bbf7d0; border-radius: 8px; padding: 16px; margin: 20px 0;\">\n\n    <h3 style=\"margin-top: 0; color: #065f46;\">\n      Resposta sugerida pela IA\n    </h3>\n\n    {{ $('AI Agente').item.json.output.resposta_cliente_html }}\n\n  </div>\n\n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 20px 0;\">\n\n  <p style=\"color: #4b5563;\">\n    Revise a resposta acima e escolha uma das opções:\n  </p>\n\n</div>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Approvar (enviar resposta)",
            "disapproveLabel": "Rejeitar (responder manualmente)"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -512,
        -192
      ],
      "id": "cb4f0e0b-3b58-4283-8ce7-7c9fe631dd2b",
      "name": "NotificarEquipe"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Novo Ticket de Suporte Recebido\n\nNome: {{ $('NovoTicket').item.json['Nome:'] }}\nE-mail:{{ $('NovoTicket').item.json['Email:'] }} \nEmpresa: {{ $('NovoTicket').item.json['Empresa:'] }}\nAssunto: {{ $('NovoTicket').item.json['Assunto:'] }}\nMensagem: {{ $('NovoTicket').item.json['Mensagem:'] }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é o sistema de triagem e atendimento automatizado da Orizon. \n## SUA FUNÇÃO \nAnalisar tickets recebidos, classificar, e **gerar uma SOLUÇÃO DIRETA** para o \ncliente sempre que possível. Não responda com \"vamos analisar e retornar\" — \nisso é inútil. Tente resolver. \n## CATEGORIAS - **bug**: Erro no sistema, funcionalidade quebrada, crash, erro 500/404 - **feature_request**: Pedido de nova funcionalidade ou melhoria - **billing**: Fatura, cobrança, upgrade/downgrade de plano, cancelamento - **account**: Problemas de login, permissões, configurações de conta - **how_to**: Dúvida de como usar uma funcionalidade - **performance**: Lentidão, timeout, sistema lento \n## EQUIPES DE DESTINO - **engenharia**: bug, performance - **produto**: feature_request - **financeiro**: billing - **customer_success**: account, how_to \n## PRIORIDADES - **critica**: Sistema fora do ar, perda de dados, afeta todos os usuários - **alta**: Funcionalidade importante quebrada, afeta operação do cliente - **media**: Bug menor, dúvida operacional - **baixa**: Sugestão, elogio, dúvida simples \n## COMO GERAR A RESPOSTA AO CLIENTE \n1. Cumprimente o cliente pelo nome \n2. Identifique o problema descrito \n3. **PROPONHA UMA SOLUÇÃO CONCRETA** com passos claros. Exemplos: - \"Câmera não conecta\": verificar drivers, testar em outro aplicativo, \nreiniciar serviço USB, atualizar firmware \n- \"Erro 500 em relatórios\": limpar cache, verificar permissões, testar em \nmodo anônimo - \"Login não funciona\": resetar senha, verificar 2FA, limpar cookies \n4. Se for dúvida de uso: explique como usar a funcionalidade passo a passo \n5. Se for billing: explique políticas e oriente a próxima ação \n6. Termine dizendo \"Se a solução acima não resolver, nossa equipe {equipe} \nassumirá o caso\" \n## QUANDO ENCAMINHAR SEM TENTAR RESOLVER - Problema crítico (sistema fora do ar): apenas confirme recebimento urgente - Caso muito específico que exige investigação interna - Feature requests (não tem solução, só registrar) \n## INSTRUÇÕES OPERACIONAIS \n1. Use \"ConsultarBase\" para verificar o plano do cliente \n2. Clientes Enterprise/Corporate: eleve prioridade em 1 nível \n3. Menções a \"urgente\", \"produção\", \"todos usuários\": prioridade mínima = alta \n4. Inclua protocolo TK-{data}-{número} no final da resposta \n5. Nunca invente dados do cliente nem features que não existem \n## FORMATO DA RESPOSTA (resposta_cliente_html) \nUse HTML simples e estruturado: - `<p>` para parágrafos - `<b>` para negritos - `<ol>` e `<li>` para passos numerados - `<br>` para quebras de linha dentro de parágrafos - NUNCA use \\n (só HTML) \nExemplo: \n<p>Olá Henrique,</p> \n<p>Identifiquei que você está com problema de conexão na câmera.</p> \n<p><b>Tente os seguintes passos:</b></p> \n<ol> \n<li>Verifique se o driver da câmera está atualizado</li> \n<li>Teste a câmera em outro aplicativo</li> \n<li>Reinicie o serviço USB do Windows</li> \n</ol> \n<p>Se após tentar os passos acima o problema persistir, nossa equipe de \nengenharia vai assumir o caso.</p> \n<p>Atenciosamente,<br>Equipe SaaSPro<br>Protocolo: TK-20260420-001</p> \n## REGRAS GERAIS - SEMPRE em português brasileiro - Tom empático, profissional e objetivo - NUNCA invente dados do cliente - NUNCA prometa prazos específicos (\"em 24h\") a menos que seja política \nconhecida - SEMPRE retorne HTML estruturado (nunca markdown nem texto puro) \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1040,
        -192
      ],
      "id": "ab325685-6fc8-4a65-b778-dd8d8ef0f532",
      "name": "AI Agente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bce3ade4-bd3b-473f-b2ea-d584cb09d8fe",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        -192
      ],
      "id": "cd1424f7-6742-4da9-9ade-b0cf9e22cf5b",
      "name": "Aprovado?"
    },
    {
      "parameters": {
        "sendTo": "={{ $('NovoTicket').item.json['Email:'] }}",
        "subject": "=RE:  {{ $('NovoTicket').item.json['Assunto:'] }}",
        "message": "={{ $('AI Agente').item.json.output.resposta_cliente_html }}",
        "options": {
          "appendAttribution": false,
          "senderName": "SasPro - Suporte"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -128,
        -336
      ],
      "id": "371a3d01-d783-4a92-8909-e0c38f984d09",
      "name": "Send a message"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Create a card').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "6a178e0a347390800c130f74"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        64,
        -336
      ],
      "id": "8cc4cbfd-65bb-49a4-8fe5-f30392eaf9fe",
      "name": "MoverCard"
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Create a card').item.json.id }}",
          "mode": "id"
        },
        "updateFields": {
          "idList": "6a178e150aa9981132aa8851"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -128,
        -80
      ],
      "id": "f4ecdc48-05a8-4854-bb1e-17176d04305c",
      "name": "MoverCard1"
    }
  ],
  "pinData": {},
  "connections": {
    "NovoTicket": {
      "main": [
        [
          {
            "node": "Verificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Verificação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verificação": {
      "main": [
        [
          {
            "node": "AI Agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agente",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "NotificarEquipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NotificarEquipe": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agente": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MoverCard1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "MoverCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dcd3acfc-05a4-4dbc-ae28-1bda3a2cd63a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1FBNw9R06D0Zf5oM",
  "tags": []
}